* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: auto;
    width: 100%;
    height: 80vh;
    background-color: white !important;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.btn1 {
    display: inline-block;
    text-decoration: none;
    background-color: #db4444;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s;
}

.btn1:hover {
    background-color: #e07575;
}

@media (max-width: 480px) {
    h1 {
        font-size: 40px;
    }

    p {
        font-size: 16px;
    }

    .btn1 {
        font-size: 14px;
        padding: 10px 20px;
    }
}